/* General Styles */
:root {
    --primary-blue: #1565C0;
    --dark-blue: #123E6B;
    --soft-blue: #1E88E5;
    --accent-color: #0A47A9;
    --text-color: #333;
    --secondary-font: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e6f1ff, #f0f8ff);
    color: var(--text-color);
    font-size: 1.2em;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 25px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.3s;
}

section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}


header:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}


header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background: linear-gradient(to right, #123E6B, #12497C); /* Very subtle gradient from dark to slightly lighter blue */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s;
}


header h1 {
    margin: 0;
    font-size: 3em;
    font-family: var(--secondary-font);
}
main {
    padding: 30px;
}

section h2 {
    color: var(--dark-blue);
    margin-bottom: 15px;
    font-family: var(--secondary-font);
}

section h3 {
    color: var(--dark-blue);
    margin-bottom: 15px;
    font-family: var(--secondary-font);
}

footer {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}
.event-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.event-details div {
    flex-basis: 48%;
}

iframe {
    width: 100%;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    background-color: #123E6B; /* Darker blue for footer */
    color: white;
    text-align: center;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}

.intro-container {
    display: flex;
    align-items: top;
    margin: auto;
    max-width: 800px;
}

.intro-text, .intro-image {
    flex: 1;
    padding: 15px;
}

.intro-text {
    text-align: left;
}

.intro-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.intro-image img:hover {
    transform: scale(1.05);
}

/* Responsive behavior */
@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-image {
        margin-top: 20px;
    }

    .intro-image img {
        max-width: 100%;
    }
}

/* Interactive Elements */
a, button {
    transition: color 0.3s, background-color 0.3s;
}

a:hover, button:hover {
    color: #0A47A9; /* Darker blue for hover effect */
}

/* Revised Timeline Styles */
.timeline-list {
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.timeline-list li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 1.2em;
}

.timeline-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px; /* Adjust this value as needed to align with the text */
    background-color: var(--accent-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
    z-index: 1;
}

.timeline-list time {
    font-weight: bold;
    color: var(--dark-blue);
    font-family: var(--secondary-font);
}

/* Responsive behavior for timeline */
@media (max-width: 768px) {
    .timeline-list li {
        font-size: 1em;
    }
}

