/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    color: #333;
    font-size: 1.6em;
}

header {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1000px; /* Set maximum width */
    margin-left: auto; /* Center the section */
    margin-right: auto; /* Center the section */
}


section h2, section h3 {
    color: #333;
    margin-bottom: 10px;
}

.event-details {
    display: flex;
    justify-content: space-between;
}

.event-details div {
    flex-basis: 48%;
}

iframe {
    width: 100%;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    background-color: #2E312F;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}


.intro-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centering horizontally */
    text-align: center; /* Centering text */
    margin: auto; /* Centers the container */
    max-width: 800px; /* Adjust this value as needed */
}

.intro-text, .intro-image {
    flex: 1; /* Equal width for both */
    padding: 10px; /* Optional: Adds some space inside each box */
}

.intro-text {
    /* If you want to specifically center-align the text inside the intro-text */
    text-align: left; /* Or 'center' if you prefer */
}

.intro-image img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust as needed */
}

/* Responsive behavior */
@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-image {
        margin-top: 20px;
    }

    .intro-image img {
        max-width: 100%;
    }
}
