.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers the content horizontally */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-left h1 {
    font-size: 60px;
}

.header-left p {
    font-style: italic;
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 20px; /* Add spacing for mobile responsiveness */
}

.button-matrix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Ensure buttons are centered */
    gap: 10px; /* Adjust gap between buttons */
}

/* Responsive layout for mobile */
@media (max-width: 1080px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-left h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .header-left p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .button-matrix {
        justify-content: center;
        margin-bottom: 0;
        padding: 10px; /* Add padding to the button matrix for mobile view */
    }
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-left {
        align-items: center; /* Align text with buttons in mobile view */
        text-align: center;
    }
}
