.image-row {
  position: absolute;
  bottom: var(--slide-min-padding);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 95%;
  height: 200px;
  overflow: scroll;
}