.images-container {
  display: flex;
  flex-direction: column-reverse; /* Stack children from bottom to top */
  justify-content: flex-end; /* Align children to the bottom */
  align-items: center; /* Center children horizontally */
  width: 100%;
  max-width: 95%;
  gap: 20px; /* Space between rows */
  overflow: hidden;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.image-label-container {
  position: relative;
  max-width: 30%;
  display: inline-block;
}


.image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}
