* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.slide {
    height: 100vh;
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.slide h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.slide ul {
    list-style: inside;
    text-align: center;
    padding: 0;
}

.slide li {
    font-size: 20px;
}


.slide:nth-child(odd) {
    background-color: #fff;
}

.slide:nth-child(even) {
    background-color: #f0f0f0;
}

.navigation {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prev-btn,
.next-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 10px 10px;
}